{% extends 'base-guest.html' %}

{% block content_guest %}

<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0 font-weight-bold text-primary">Visitor Self Registration - Done</h4>
            </div>
            <div class="card-body">
                <p>
                    Success Submit Appointment Registration! We have emailed your Host for an appointment request.
                </p>
                <p>
                    You can proceed for check-in at the specified data/time using your registration code: <strong>{{ code }}</strong>. Thank you.
                </p>
                <p>
                    Reminder: Do not lose your registration code. Note that this is only a one way entry. If you loss your check in privilege, kindly do another self registration at the kiosk.
                </p>
                <p>Thank you.</p>
            </div>
        </div>
        
    </div>
</div>

{% endblock content_guest %}