<div class="modal-header">
    {% if visitor %}
    <h4 class="modal-title">{{ page_title }}-Visitor Appointment Details</h4>
    {% elif staff %}
    <h4 class="modal-title">{{ page_title }}-Staff Details</h4>
    {% else %}
    <h4 class="modal-title">{{ page_title }} Details</h4>
    {% endif %}
      {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
</div>

<!-- Modal body -->
{% if visitor %}
<div class="modal-body">
    <div class="container-fluid">
        <p><strong>Registered At:</strong> {{ visitor.created_at|default_if_none:"-" }}</p>
        <p><strong>Start Date/Time:</strong> {{ visitor.start_date|date:"d M Y g:i a (D)"|default_if_none:"-" }}</p>
        <p><strong>End Date/Time:</strong> {{ visitor.end_date|date:"d M Y g:i a (D)"|default_if_none:"-" }}</p>
        <hr>
        <div class="row mb-3">
            <div class="col-md-4">
                {% if visitor.photo %}
                <img src="/static{{ visitor.photo.url }}" width="150px">
                {% else %}
                <img src="/static/img/profile.png" width="150px">
                {% endif %}
            </div>
            <div class="col-md-8">
                <p><strong>Entries Code : </strong> {{ visitor.code|default_if_none:"-" }}</p>
                <p><strong>Name : </strong> {{ visitor.name|default_if_none:"-" }}</p>
                <p><strong>Identification No. : </strong> {{ visitor.identification_no|default_if_none:"-" }}</p>
                <p><strong>Contact : </strong> {{ visitor.contact_no|default_if_none:"-" }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <span>QR Image: </span>
                {% if visitor.qr_image %}
                <img id="qr-download" src="/static{{ visitor.qr_image.url }}" alt="visitor__qrcode" width="150px">
                <span class="text-sm">
                    <a href="/static{{ visitor.qr_image.url }}" title="download image" download>
                        <i class="fas fa-download fa-sm text-primary-100" aria-hidden="true"></i>&nbsp; .png
                    </a>
                    
                </span>
                {% else %}
                -
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% elif staff %}
<div class="modal-body">
    <div class="container-fluid">
        <p><strong> Registered At:</strong> {{ staff.created_at|default_if_none:"-" }}</p>
        <hr>
        <div class="row mb-3">
            <div class="col-md-4">
                {% if staff.photo %}
                <img src="/static{{ staff.photo.url }}" width="150px">
                {% else %}
                <img src="/static/img/profile.png" width="150px">
                {% endif %}
            </div>
            <div class="col-md-8">
                <p><strong>Name : </strong> {{ staff.name|upper|default_if_none:"-" }}</p>
                <p><strong>Identification No. : </strong> {{ staff.identification_no|default_if_none:"-" }}</p>
                <p><strong>Contact : </strong> {{ staff.contact_no|default_if_none:"-" }}</p>
                <p><strong>Email : </strong> {{ staff.email|default_if_none:"-" }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <span>QR Image: </span>
                {% if staff.qr_image %}
                <img id="qr-download" src="/static{{ staff.qr_image.url }}" alt="staff__qrcode" width="150px">
                <span class="text-sm">
                    <a href="/static{{ staff.qr_image.url }}" title="download image" download>
                        <i class="fas fa-download fa-sm text-primary-100" aria-hidden="true"></i>
                    </a>
                    &nbsp; .png
                </span>
                {% else %}
                -
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Remarks: </span>
                <textarea id="remarks" name="remarks" rows="2" cols="45" readonly style="border-color: gray; color:#858796;">
                    {{ staff.remarks|default_if_none:"-" }}
                </textarea>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal-body">
    <div class="container-fluid">
        <p>Last Login: {{ tenant.user.last_login|default_if_none:"-" }}</p>
        <div class="row mb-4">
            <div class="col-md-4 col-sm-4">
                <strong>Building : </strong> {{ tenant.building|default_if_none:"-" }}
            </div>
            <div class="col-md-4 col-sm-4">
                <strong>Floor : </strong> {{ tenant.floor|default_if_none:"-" }}
            </div>
            <div class="col-md-4 col-sm-4">
                <strong>Unit No. : </strong> {{ tenant.unit_no|default_if_none:"-" }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 col-sm-6">
               <strong>Email : </strong> {{ tenant.user.email|default_if_none:"-" }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 col-sm-6">
                <strong>Company : </strong> {{ tenant.company_name|default_if_none:"-" }}
            </div>
            <div class="col-md-6 col-sm-6">
                <strong>Registered Address : </strong> {{ tenant.registered_address|default_if_none:"-" }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 col-sm-6">
                <strong>Contact Person : </strong> {{ tenant.contact_person|default_if_none:"-" }}
            </div>
            <div class="col-md-6 col-sm-6">
                <strong>Contact No. : </strong> {{ tenant.contact_no|default_if_none:"-" }}
            </div>
        </div>
    </div>
</div>

{% endif %}

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
</div>
  